@page "/access-denied"

<h3>AccessDenied</h3>

<div class="container">
    <h1>403 - Access Denied</h1>
    <p>You do not have permission to access this page.</p>
    <hr>
    <p>If you believe this is an error, please contact the administrator or go back to the <a href="/">home page</a>.</p>
    <a href="/" class="btn">Go to Home</a>
</div>
