@page "/logout"

<div class="container">
    <h1>You Have Been Logged Out</h1>
    <p>You have successfully logged out of your account.</p>
    <hr>
    <p>Thank you for visiting. You can log in again or return to the <a href="/">home page</a>.</p>
    <a href="@TaskTrackerPages.Login">Log In Again</a>
</div>

