@page "/tasks"
@using Microsoft.AspNetCore.Authorization
@attribute [StreamRendering]
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Tasks</PageTitle>

<h1>Tasks</h1>

<p>This component demonstrates showing data.</p>

@if (Tasks == null)
{
	<p><em>Loading tasks...</em></p>
}
else
{
	<RadzenDataGrid Data="@Tasks" TItem="TaskModel" RowSelect="OnRowSelect" AllowFiltering="true" AllowColumnResize="true"
		AllowAlternatingRows="false" FilterMode="FilterMode.Simple" AllowSorting="true" PageSize="5"
		AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
		ColumnWidth="300px">
		<Columns>
			<RadzenDataGridColumn TItem="TaskModel" Property="Title" Title="Title" />
			<RadzenDataGridColumn TItem="TaskModel" Property="Description" Title="Description" />
			<RadzenDataGridColumn TItem="TaskModel" Property="AssignedTo" Title="Assigned to" />
			<RadzenDataGridColumn TItem="TaskModel" Property="Status" Title="Status" />
		</Columns>
	</RadzenDataGrid>
}

<button class="btn btn-primary mb-3" @onclick="ShowCreateTaskModal">Create New Task</button>

@if (IsCreateTaskModalVisible)
{
	<CreateTask CreateTaskModalIsVisible="@IsCreateTaskModalVisible" OnVisibilityChanged="HandleCreateModelVisibility" OnTaskCreated="HandleTaskCreated" />
}


